@using Vacancy.Repository.Dto.DataDto
@model IEnumerable<DataReadDto>

@{
}

<div class="float-end">
    <a href="/cabinet/create" class="btn btn-outline-primary">Додати дані </a>
</div>


<h1>Перелік даних</h1>
<hr />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ClassId</th>
            <th>ClassName</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.ClassId </td>
                <td>@u.ClassName </td>


                <td>
                    <a href="/users/edit/@u.ClassId" class="btn btn-warning">Редагувати</a>
                    <a href="/users/delete/@u.ClassId" class="btn btn-danger">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>